@model InvoiceCheck
@{
    ViewData["Title"] = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <form asp-action="Check">
        <div class="input-group mb-3" name="div-group">
            <span class="input-group-text" id="group">التبعيّة</span>
            <input name="group" type="text" class="form-control" aria-label="group" aria-describedby="group" asp-for="Group" value="@ViewData["group"]">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="clientid">رمز المستخدم</span>
            <input type="text" class="form-control" aria-label="clientid" aria-describedby="clientid" asp-for="ClientId" value="@ViewData["clientid"]">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="year">السنة</span>
            <select class="form-select" aria-label="year" aria-describedby="year" asp-for="Year">
                @{
                    for(int i=2023; i<2040;i++){
                           <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="month">الشهر</span>
            <select class="form-select" aria-label="month" aria-describedby="month" asp-for="Month">
                @{
                    for (int i = 1; i <= 12; i++)
                    {
                           <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        <input type="submit" value="طلب الفاتورة" class="btn btn-primary"/>
        <div class="text-danger" style="margin-top: 20px;">@ViewData["error"]</div>
    </form>

    <div class="text-primary" style="margin-top: 20px;">
        @if (@ViewData["data"]!=null){
            <table class="table table-striped" style="border: 1px solid #dee2e6;">
                <tbody>
                @foreach (var k in ((Dictionary<string, string>)@ViewData["data"]).Keys)
                {
                    <tr>
                            <td style="font-weight: bold;">@k</td>
                            <td>@(((Dictionary<string, string>)ViewData["data"]).GetValueOrDefault(k))</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            if ($('[name="group"]').val() != null && $('[name="group"]').val().trim().length > 0) {
                $('[name="div-group"]').css('display', 'none');
            }
        });
    </script>
}

